* {
    padding: 0px;
    margin: 0px;
}

._jsPlumb_connector
{
    z-index: 10;
}

.gui-header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 240px;
    width: 100%;
    z-index: 15;
}

.gui-body {
    position: absolute;
    min-width: 100%;
    top: 240px;
    border: 2px solid pink;
}

.inputs-container {
    position: absolute;
    width: 335px;
    top: 10px;
    margin: 15px 100px 0 0;
}

.topic-inputs {
}

.feed-container {
    position: relative;
    height: 240px;
    width: 320px;
    float: left;
}

.settings-container {
    position: relative;
    height: 240px;
    width: 300px;
    float: left;
    background-color: #ffffff;
}

.properties-container {
    position: relative;
    height: 240px;
    width: calc(100% - 940px);
    float: left;
    background-color: #ffffff;
}

canvas {
    background-color: #000000;
    position: relative;
    z-index: 1;
}

.feed-info {
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-color: #ffffff;
    z-index: 2;
}

.topic-selector {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.workspace {
    position: absolute;
    top: 10px;
    left: 400px;
}

/**********/

.filtergroup-add {
    position: relative;
    height: 25px;
    text-align: center;
    border: 2px solid blue;
}

.filtergroup {
    position: relative;
    height: 300px;
    margin: 10px 0px 30px 0px;
}

.filtergroup-header {
    position: relative;
    text-align: center;
}

.filtergroup-name {
    width: 100%;
}

.filtergroup-body {
    position: relative;
    height: 275px;
    white-space: nowrap;
}

.filter {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 500px;
    margin: 0px 10px 0px 10px;
    border: 2px solid greenyellow;
}

.filter-placeholder {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 500px;
    margin: 0px 10px 0px 10px;
    background-color: #bce8f1;
}

.filter-header {
    position: relative;
    height: 50px;
    border: 2px solid green;
}

.filter-picker-wrapper, .filter-picker {
    height: 50px;
    width: 200px;
}

.filter-name {
    height: 50px;
    width: 250px;
}

.delete-filter {
    height: 50px;
    width: 50px;
}

.filter-body {
    position: relative;
    height: 200px;
    border: 2px solid yellow;
}

.filter-inputs {
    position: relative;
    height: 200px;
    width: 50%;
    display: inline-block;
    border: 2px solid #000000;
}

.filter-outputs {
    position: relative;
    height: 200px;
    width: 50%;
    display: inline-block;
    border: 2px solid #000000;
}

.add-filter-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 250px;
    vertical-align: top;
}

.add-filter {
    height: 100%;
    width: 100%;
}

.inactive {
    visibility: hidden;
}