* {
    padding: 0px;
    margin: 0px;
}

html, body, .roscvm-container
{
    height: 100%;
}

.feed-and-settings-container {
    height: 35%;
    background-color: greenyellow;
}

.feed-container {
    height: 100%;
    padding: 0px;
}

.settings-container {
    height: 100%;
    background-color: royalblue;
}

canvas {
    border: 2px solid #696969;
    background-color: #000000;
    position: relative;
    z-index: 1;
}

.feed-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #ffffff;
    z-index: 2;
}

.topic-selector {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.workspace {
    height: 65%;
    background-color: pink;
}

/**********/

.filtergroup-add {
    text-align: center;
    border: 2px solid #0000FF;
}

.filtergroup-header {
    flex: 0 1 100%;
    border: 2px solid #00FFFF;
}

.filtergroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0;
    padding: 0;
    border: 2px solid #00FF00;
}

.filter {
    list-style: none;
    flex-grow: 1;
    border: 2px solid #FF0000;
}

.filter-add {
    list-style: none;
    flex: 0 0 60px;
    border: 2px solid #FFFF00;
}

/**********
.filtergroup-container {
    height: calc(100% - 60px);
}

.new-filtergroup {
    height: 30px;
    background-color: orange;
}

.filtergroup {
    border: 1px solid #000000;
    background-color: saddlebrown;
}

.filtergroup-header {
    height: 25px;
}

.filtergroup-name {
    height: 100%;
    width: 90%;
    float: left;
    background-color: yellow;
}

.filtergroup-delete {
    height: 100%;
    width: 10%;
    float: left;
    background-color: purple;
}

.filtergroup-body {
    height: calc(100% - 25px);
    background-color: red;
}

.filter-container {
    height: 100%;
    width: calc(100% - 60px);
    float: left;
    background-color: cyan;
}

.new-filter {
    height: 100%;
    width: 30px;
    float: left;
    background-color: blue;
}

.filter {
    height: 100%;
    float: left;
    border: 1px solid #000000;
    background-color: darkgreen;
} */