* {
    padding: 0px;
    margin: 0px;
}

html, body, .roscvm-container
{
    height: 100%;
}

.roscvm-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.roscvm-header {
    display: flex;
    height: 240px;
    flex-direction: row;
}

.feed-container {
    width: 320px;
    height: 240px;
    flex: 0 0 320px;
    position: relative;
}

.properties-container {
    flex: 1 1 60%;
    padding-left: 10px;
    background-color: royalblue;
}

canvas {
    border: 2px solid #696969;
    background-color: #000000;
    position: relative;
    z-index: 1;
}

.feed-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #ffffff;
    z-index: 2;
}

.topic-selector {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

.roscvm-workspace {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 10px;
}

/**********/

.filtergroup-add {
    flex: 0 0 25px;
    text-align: center;
    border: 2px solid #0000FF;
}

.filtergroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid #d58512;
}

.filtergroup-header {
    flex: 0 0 25px;
    border: 2px solid #00FFFF;
}

.filtergroup-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 0px;
    border: 2px solid #00FF00;
}

.filter {
    list-style: none;
    flex: 1;
    margin-bottom: 0px;
    border: 2px solid #FF0000;
    position: relative;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.filter-add {
    list-style: none;
    flex: 0 0 60px;
    margin-bottom: 0px;
    border: 2px solid #FFFF00;
}